<section class="fullscreen">
  <div class="card-40">
    <figure>
      <img src="/assets/images/about-me.jpg" alt="Taylor Engel - Utah">
    </figure>
    <!-- end figure-->
    <div class="flex-content">
      <h2>Taylor Engel - About Me</h2>
      <!-- <p>.fullscreen > .card-50</p> -->
      <p>I am a {{age}}-year-old full-stack developer, innovator and technology enthusiast.
        I currently work at Pariveda Solutions a leading strategy and technology solutions consultancy. 
        This experience has exposed me to numerous technologies such as RESTful APIs, Javascript, Node.js, Angular, Java, Git and many other technologies I use. 
        I spend my free time writing code, tinkering with gadgets like Raspberry Pi, Arduino, just to name a few.
      </p>
      <p>I am passionate about what I do and am excited about the great potential that technology has to positively influence the world we live in. 
        There are few things I enjoy more than learning about new technology. 
        I also do my best to help give back to the developer community by contributing help on GitHub, StackOverflow and other forums.
      </p>
      <p>I also consider myself adventurer and travel aficionado. 
        I even got my private pilot license so I can accomplish even more traveling and new adventures.
        I have been to countries as exotic as South Africa and Iceland, both of which rank up there as my favorite destinations I’ve ever been. 
        As I just became an uncle my travel plans are currently filled with trips to St. Louis to visit my wonderful niece.
      </p>
    </div>
    <!-- end .flex-content-->
  </div>
  <!-- end .card-50-->
</section>