<section class="fullscreen bg-gradient-particles">
    <span class="background" id="particles-js"></span>
    <div class="content-center">
        <h1 class="text-landing">
            <strong>Contact Me</strong>
        </h1>
        <form action="https://mailthis.to/tengel92@gmail.com" method="POST" encType="multipart/form-data">
          <fieldset>
            <p><label>Name</label>
              <input type="text" tabindex="1" name="Name" placeholder="Name" required>
            </p>
            <p><label>Email</label>
              <input type="text" tabindex="2" name="Email" placeholder="Email" required>
            </p>
            <p><label>Comments</label>
              <textarea type="text" tabindex="3" name="comments" placeholder="Let me know what is on your mind"></textarea>
            </p>
            <p>
              <input type="hidden" name="_subject" value="tengel92.github.io form submitted!">
            </p>
            <p>
              <button type="submit" tabindex="4" title="Send">Send &rsaquo;</button>
            </p>
          </fieldset>
        </form>
    </div>
</section>