<section>
    <div class="wrap">
        <div class="content-left" style="padding-right:20px">
            <h1><strong>NextConnect</strong></h1>
            <p>
                NextConnect is a web application I wrote while working at Nucor Corporation. While working on integrating a wholly owned subsidiary's data into our Oracle E-Business Suite instance we determined it would be great to have a nice, friendly user interface
                for our end users. I set to work developing the UI and working with the subsidiary company that was providing the data. Once the application was deployed to production our users could log into NextConnect to view purchase orders, ASNs
                (Advanced Shipping Notices), receipts, invoices and other information.
            </p>
            <h2>What Makes It Work?</h2>
            <p>
                NextConnect is almost entirely written in Angular with TypeScript. Backend data is provided via a JSON RESTful API hosted on Azure. The open source UI framework PrimeNG was used extensively and features it's premium template, Ultima which utilizes responsive
                Material Design, HTML5 and CSS3.
            </p>
        </div>
        <!-- end .content-left -->
        <div class="content-left">
            <!-- <div class="embed"> = Responsive -->
            <h2 style="position:absolute;left:25%">Video coming soon!</h2>
            <!-- <div class="embed">
                <iframe src="https://www.youtube.com/embed/XjJQBjWYDTs" allowfullscreen></iframe>
            </div> -->
            <!-- end .embed -->
        </div>
        <!-- end .content-left -->
    </div>
    <!-- .end .wrap -->
    <hr>
    <div class="wrap">
        <div class="content-right" style="padding-left:20px">
            <h1><strong>tengel92.github.io</strong></h1>
            <p>
                Obviously the site you are currently on is a representation of my skills. I primarily wrote this website to be a personal website, blog and a way to connect with me.
            </p>
            <h2>What Makes It Work?</h2>
            <p>
                On this site I decided to write almost everything in Angular but could have likely used JavaScript only. The look and feel of this website is largely influenced by <a href="https://webslides.tv" target="_blank">WebSlides</a>. I also used
                <a href="http://vincentgarreau.com/particles.js/" target="_blank">particles.js</a> just to add a splash of fun on the home page.
            </p>
        </div>
        <!-- end .content-left -->
        <div class="content-right">
            <!-- <div class="embed"> = Responsive -->
            <h2 style="position:absolute;left:25%">Video coming soon!</h2>
            <!-- <div class="embed">
                <iframe src="https://www.youtube.com/embed/XjJQBjWYDTs" allowfullscreen></iframe>
            </div> -->
            <!-- end .embed -->
        </div>
        <!-- end .content-left -->
    </div>
</section>