<header role="banner">
    <div class="topnav" id="myTopnav">
        <a href="#home">Home</a>
        <a href="#about">About</a>
        <a href="#resume">Resume</a>
        <a href="#portfolio">Portfolio</a>
        <a href="#blog">Blog</a>
        <a class="twitter" rel="external" href="https://twitter.com/tengel92" target="_blank" title="Twitter">
            <svg class="fa-twitter">
                <use xlink:href="#fa-twitter"></use>
            </svg> Twitter
        </a>
        <a class="youtube" rel="external" href="https://youtube.com/tengel92" target="_blank" title="YouTube">
            <svg class="fa-youtube">
                <use xlink:href="#fa-youtube"></use>
            </svg> YouTube
        </a>
        <a class="github" rel="external" href="https://github.com/tengel92" target="_blank" title="Github">
            <svg class="fa-github">
                <use xlink:href="#fa-github"></use>
            </svg> GitHub
        </a>
        <a class="linkedin" rel="external" href="https://linkedin.com/in/taylorengel1" target="_blank" title="LinkedIn">
            <svg class="fa-linkedin">
                <use xlink:href="#fa-linkedin"></use>
            </svg> LinkedIn
        </a>
        <!-- <a href="#contact">Contact</a> -->
        <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="myFunction()">&#9776;</a>
    </div>
</header>


<!-- <header role="banner">
    <nav role="navigation" class="navbar">
        <ul>
            <li><a [routerLink]="['/']">Home</a></li>
            <li><a [routerLink]="['/about']">About</a></li>
            <li><a [routerLink]="['/resume']">Resume</a></li>
            <li><a [routerLink]="['/portfolio']">Portfolio</a></li>
            <li><a [routerLink]="['/blog']">Blog</a></li>
            <li class="twitter">
                <a rel="external" href="https://twitter.com/tengel92" target="_blank" title="Twitter">
                    <svg class="fa-twitter">
            <use xlink:href="#fa-twitter"></use>
          </svg> Twitter
                    <em>@tengel92</em>
                </a>
            </li>
            <li class="youtube">
                <a rel="external" href="https://youtube.com/tengel92" target="_blank" title="YouTube">
                    <svg class="fa-youtube">
            <use xlink:href="#fa-youtube"></use>
          </svg> YouTube
                    <em>YouTube</em>
                </a>
            </li>
            <li class="github">
                <a rel="external" href="https://github.com/tengel92" target="_blank" title="Github">
                    <svg class="fa-github">
            <use xlink:href="#fa-github"></use>
          </svg> GitHub
                    <em>Taylor Engel's GitHub</em>
                </a>
            </li>
            <li class="linkedin">
                <a rel="external" href="https://linkedin.com/in/taylorengel1" target="_blank" title="LinkedIn">
                    <svg class="fa-linkedin">
            <use xlink:href="#fa-linkedin"></use>
          </svg> LinkedIn
                    <em>LinkedIn</em>
                </a>
            </li>
            <li class="email"><a [routerLink]="['/contact']">Contact</a></li>
        </ul>
    </nav>
</header> -->