<header role="banner">
    <div class="topnav" id="myTopnav">
        <a href="#home">Home</a>
        <a href="#about">About</a>
        <a href="#resume">Resume</a>
        <a href="#portfolio">Portfolio</a>
        <a href="#blog">Blog</a>
        <a class="twitter" rel="external" href="https://twitter.com/tengel92" target="_blank" title="Twitter">
            <svg class="fa-twitter">
                <use xlink:href="#fa-twitter"></use>
            </svg> Twitter
        </a>
        <a class="youtube" rel="external" href="https://youtube.com/tengel92" target="_blank" title="YouTube">
            <svg class="fa-youtube">
                <use xlink:href="#fa-youtube"></use>
            </svg> YouTube
        </a>
        <a class="github" rel="external" href="https://github.com/tengel92" target="_blank" title="Github">
            <svg class="fa-github">
                <use xlink:href="#fa-github"></use>
            </svg> GitHub
        </a>
        <a class="linkedin" rel="external" href="https://linkedin.com/in/taylorengel1" target="_blank" title="LinkedIn">
            <svg class="fa-linkedin">
                <use xlink:href="#fa-linkedin"></use>
            </svg> LinkedIn
        </a>
        <!-- <a href="#contact">
            <svg class="fa-envelope">
                <use xlink:href="#fa-envelope"></use>
            </svg> Contact
        </a> -->
        <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="myFunction()">&#9776;</a>
    </div>
</header>