<header role="banner">
  <nav role="navigation" class="navbar">
    <ul>
      <li><a [routerLink]="['/']">Home</a></li>
      <li><a [routerLink]="['/about']">About</a></li>
      <li><a [routerLink]="['/resume']">Resume</a></li>
      <li><a [routerLink]="['/portfolio']">Portfolio</a></li>
      <li><a [routerLink]="['/blog']">Blog</a></li>
      <li class="twitter">
        <a rel="external" href="https://twitter.com/tengel92" target="_blank" title="Twitter">
          <svg class="fa-twitter">
            <use xlink:href="#fa-twitter"></use>
          </svg>
          Twitter
          <em>@tengel92</em>
        </a>
      </li>
      <li class="youtube">
        <a rel="external" href="https://youtube.com/tengel92" target="_blank" title="YouTube">
          <svg class="fa-youtube">
            <use xlink:href="#fa-youtube"></use>
          </svg>
          YouTube
          <em>YouTube</em>
        </a>
      </li>
      <li class="github">
        <a rel="external" href="https://github.com/tengel92" target="_blank" title="Github">
          <svg class="fa-github">
            <use xlink:href="#fa-github"></use>
          </svg>
          GitHub 
          <em>Taylor Engel's GitHub</em>
        </a>
      </li>
      <li class="linkedin">
        <a rel="external" href="https://linkedin.com/in/taylorengel1" target="_blank" title="LinkedIn">
          <svg class="fa-linkedin">
            <use xlink:href="#fa-linkedin"></use>
          </svg>
          LinkedIn
          <em>LinkedIn</em>
        </a>
      </li>
      <li class="email"><a [routerLink]="['/contact']">Contact</a></li>
    </ul>
  </nav>
</header>     
 <!-- <li><a class="icon">&#9776;</a></li> -->
