<section>  
  <div class="wrap">
    <!-- <h3>Portfolio, team, work, showcase...</h3> -->
    <ul class="flexblock gallery">
      <li>
        <a>
          <figure [routerLink]="['./tech']">
            <img alt="Thumbnail " src="/assets/images/board.jpg">
            <figcaption>
              <h2>Technology.</h2>
              <p>Technology. Period. Topics in this series are about various tech industries.</p>
              <p>By: Taylor Engel</p>
            </figcaption>
          </figure>
        </a>
      </li>
      <li>
        <a [routerLink]="['./ppf']">
          <figure>
            <img alt="Thumbnail" src="/assets/images/plane.jpg">
            <figcaption>
              <h2>Past. Present. Future.</h2>
              <p>This series is about where innovations were in the past, where they are now and where they will be in the future. Topics range from technology, manufacturing and transportation.</p>
              <p>By: Taylor Engel</p>
            </figcaption>
          </figure>
        </a>
      </li>
      <li>
        <a [routerLink]="['./thebucket']">
          <figure>
            <img alt="Thumbnail" src="/assets/images/bucket.jpg">
            <figcaption>
              <h2>The Bucket</h2>
              <p>You'll find any other thing on my mind in this miscellaneous section.</p>
              <p>By: Taylor Engel</p> 
            </figcaption>
          </figure>
        </a>
      </li>
    </ul>
  </div>
  <!-- .end .wrap -->
</section>
