<section class="fullscreen bg-gradient-particles">
  <span class="background" id="particles-js"></span>
  <div class="content-center">
    <h1 class="text-landing">
      <strong>Taylor Engel</strong>
    </h1>
    <p>Full-stack developer, innovator and technology enthusiast.</p>
    <p>I specialize in building modern websites and applications with the content you want and deserve.</p>
    <p>I am always looking for bigger and better adventures. Check out <a [routerLink]="['/portfolio']">my portfolio</a> to see my work.</p>
    <p>If you are impressed (which I hope and think you will be) and you want to go on the biggest and best adventure <a [routerLink]="['/contact']">contact me!</a></p>
  </div>
</section>